.navContainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.newGamebtn{
    height: 10vh;
    width: 100%;
    background-image: url('https://media.istockphoto.com/id/678906476/es/v%C3%ADdeo/brillo-azul-led-bucle-de-animación-vj-fondo.jpg?b=1&s=640x640&k=20&c=SXJd_9VjCgQdJtmvTaF8UVipgJK-PRxBF4Hq55sykoc=');
    display: flex;
    align-items: center;
    justify-content: center;
}
.startGame{
    height: 100%;
    width: 100%;
}
.titleContainer{
    border: solid gold;
    height: 10vh;
    width: 100%;
    background-color: black;
}
.scoreContainer{
    height: 10vh;
    width: 100%;
    display: flex;
}
.p1ScoreContainer,.p2ScoreContainer{
    height: 10vh;
    width: 100%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scoreHead1{
    text-align: center;
    margin-top: 1px;
    height:30%;
    width: 100%;
}
.score1,.score2{
    color: black;
    height:30%;
    width:50%;
    text-align: center;
    background-color: white;

}
.Gameboard{
    height: 100vh;
    width: 100%;
    display:flex;
    background-image: url('https://media.istockphoto.com/id/678906476/es/v%C3%ADdeo/brillo-azul-led-bucle-de-animación-vj-fondo.jpg?b=1&s=640x640&k=20&c=SXJd_9VjCgQdJtmvTaF8UVipgJK-PRxBF4Hq55sykoc=') ;
}
.player1GB{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.player2GB{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.moneyBannerL{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.leftBanner,.rightBanner{
    border: solid gold;
    height: 8%;
    width: 100%;
    color: gold;
    background-color: gray;
}
.moneybannerR{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.boxesContainer{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.boxes{
    border: solid black;
    height: 12%;
    width: 18%;
}